<!--The content below is only a placeholder and can be replaced.-->


<header>
  <h1>Find the best flight for the right price</h1>
</header>


<main>
  <app-all-flights></app-all-flights>
</main>
<!--
<nav>
  <app-search-flights></app-search-flights>
</nav>


<app-all-flights></app-all-flights>

<main>

-->  


  <!--
  <article>

      <aside>
          <app-orders-flight></app-orders-flight>
      </aside>

      <section>
          <app-order-flight></app-order-flight>
      </section>

  </article>
  
<router-outlet></router-outlet>

  
</main>
-->



<footer>
  <h4>(c) Copyright Cheap Flights</h4>
</footer>